.item {
  width: 250px;
  border-radius: 4px;
  margin: 10px 40px;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.18);
}

.item .image {
  width: 190px;
  height: 190px;
  padding: 30px;
}

.item .titulo {
  margin: 5px 0;
  font-weight: bold;
}

.item .precio {
  margin: 5px 0;
  font-size: 15px;
  font-weight: bold;
}

.item .link {
  width: 100%;
  text-decoration: none;
  margin: 5px 0;
  color: rgb(225, 225, 225);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(17, 17, 17);
}

.item .link:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);
}
