* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#navbar {
  background-color: rgb(0, 0, 0);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li:hover {
  cursor: pointer;
  background-color: rgb(92, 92, 92);
}

#navbar h1 {
  margin: 0 0 0 20px;
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 20px;
}

#navbar h1:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

#navbar ul {
  width: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar ul li {
  display: flex;
  margin: 0px 30px 0px 30px;
}
#navbar ul li a {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 2px white;
}

#navbar ul li a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.textocart {
  color: black;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#itemlistcontainer {
  margin: 50px;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

#Carrito {
  display: flex;
  background-color: chocolate;
  padding: 5px 0px 5px 10px;
  margin-right: 6px
}

#Carrito p {
  display: flex;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  cursor: pointer;
}


.CartWidget {
  width: 50px;
  margin-right: 10px;
  padding-right: 5px;
}

#Carrito:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
