* {
  /* background-color: blueviolet; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#navbar {
  background-color: rgb(0, 0, 0);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar h1 {
  /* background-color: chartreuse; */
  margin: 0 0 0 10px;
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 20px;
}

#navbar ul {
  width: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar ul li {
  display: flex;
  margin: 0px 30px 0px 30px;
  /* background-color: cyan; */
}
#navbar ul li a {
  margin: 20px;
  /*  background-color: rgb(227, 94, 28); */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 2px white;
}

.textocart {
  color: black;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#itemlistcontainer {
  /* background-color: aqua; */
  margin: 50px;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

#Carrito {
  display: flex;
  background-color: chocolate;
  padding: 5px 0px 5px 10px;
  margin-right: 6px
}

#Carrito p {
  display: flex;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.CartWidget {
  width: 50px;
  background-color: chocolate;
  margin-right: 10px;
  padding-right: 5px;
}
