.item-count{
  width: 200px;
  display: flex;
  flex-direction: column;
}

.item-count .controles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.controles button{
  width: 50px;
  height: 30px;
  background-color: rgb(42, 42, 42);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

button:hover{
  cursor: pointer;
}

.item-count .terminar{
  padding: 10px 0;
  background-color: white ;
  border-radius: 4px;
}