.item-detail {
  display: flex;
  padding: 5% 10%;
}

.item-detail .imagen {
   width: 50%;
}

.item-detail .texto {
  width: 50%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
}

.item-detail .texto h2 {
  font-size: 25px;
}

.item-detail .texto p {
  margin: 10px 0px 10px 0px;
  font-weight: bolder;
}

.item-detail .button-terminar {
  width: 200px;
  font-size: 13px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: white;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}
